@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #0090f0;
}

a:hover, a:active {
    color: #0090f0;
    text-decoration: underline;
}

a.title {
    color: #000000;
}

body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Tinos, Serif;
    font-size: 1.25em;
}

div.content {
    background-color: #ffffff;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 16px 32px 0px rgba(0, 0, 0, 0.1);
    color: #000000;
    margin: 64px auto;
    max-width: 960px;
    padding: 120px 160px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

p {
    text-align: justify;
}

p.description {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
}

p.footer {
    font-size: 0.8em;
    text-align: center;
}

p.lead {
    font-weight: bold;
}

p.note {
    background-color: #fff4d1;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    font-style: italic;
    font-size: 0.8em;
    margin: auto;
    max-width: 480px;
    padding: 24px;
}

p.quote {
    font-size: 1.2em;
    font-style: italic;
    margin: auto;
    max-width: 480px;
}

p.subtitle {
    font-size: 0.8em;
    font-style: italic;
    text-align: left;
}

q {
    quotes: "\201e" "\201d";
}

span.disabled {
    color: #cccccc;
}

ul.navigation {
    line-height: 2em;
    margin: 0px;    /* to override possible default value */
    padding: 0px;   /* to override possible default value */
    text-align: center;
}

ul.navigation>li {
    display: inline;
    margin: 0.5em;
}

/* Generated by PaddingCalculation.ps1 */
@media only screen and (max-width: 960px) {
    div.content {
        margin: 0 auto;
        padding: 120px 160px;
    }
}

@media only screen and (max-width: 950px) {
    div.content {
        padding: 117px 156px;
    }
}

@media only screen and (max-width: 940px) {
    div.content {
        padding: 114px 152px;
    }
}

@media only screen and (max-width: 930px) {
    div.content {
        padding: 111px 148px;
    }
}

@media only screen and (max-width: 920px) {
    div.content {
        padding: 108px 144px;
    }
}

@media only screen and (max-width: 910px) {
    div.content {
        padding: 105px 140px;
    }
}

@media only screen and (max-width: 900px) {
    div.content {
        padding: 102px 136px;
    }
}

@media only screen and (max-width: 890px) {
    div.content {
        padding: 99px 132px;
    }
}

@media only screen and (max-width: 880px) {
    div.content {
        padding: 96px 128px;
    }
}

@media only screen and (max-width: 870px) {
    div.content {
        padding: 93px 124px;
    }
}

@media only screen and (max-width: 860px) {
    div.content {
        padding: 90px 120px;
    }
}

@media only screen and (max-width: 850px) {
    div.content {
        padding: 87px 116px;
    }
}

@media only screen and (max-width: 840px) {
    div.content {
        padding: 84px 112px;
    }
}

@media only screen and (max-width: 830px) {
    div.content {
        padding: 81px 108px;
    }
}

@media only screen and (max-width: 820px) {
    div.content {
        padding: 78px 104px;
    }
}

@media only screen and (max-width: 810px) {
    div.content {
        padding: 75px 100px;
    }
}

@media only screen and (max-width: 800px) {
    div.content {
        padding: 72px 96px;
    }
}

@media only screen and (max-width: 790px) {
    div.content {
        padding: 69px 92px;
    }
}

@media only screen and (max-width: 780px) {
    div.content {
        padding: 66px 88px;
    }
}

@media only screen and (max-width: 770px) {
    div.content {
        padding: 63px 84px;
    }
}

@media only screen and (max-width: 760px) {
    div.content {
        padding: 60px 80px;
    }
}

@media only screen and (max-width: 750px) {
    div.content {
        padding: 57px 76px;
    }
}

@media only screen and (max-width: 740px) {
    div.content {
        padding: 54px 72px;
    }
}

@media only screen and (max-width: 730px) {
    div.content {
        padding: 51px 68px;
    }
}

@media only screen and (max-width: 720px) {
    div.content {
        padding: 48px 64px;
    }
}

@media only screen and (max-width: 710px) {
    div.content {
        padding: 45px 60px;
    }
}

@media only screen and (max-width: 700px) {
    div.content {
        padding: 42px 56px;
    }
}

@media only screen and (max-width: 690px) {
    div.content {
        padding: 39px 52px;
    }
}

@media only screen and (max-width: 680px) {
    div.content {
        padding: 36px 48px;
    }
}

@media only screen and (max-width: 670px) {
    div.content {
        padding: 33px 44px;
    }
}

@media only screen and (max-width: 660px) {
    div.content {
        padding: 30px 40px;
    }
}

@media only screen and (max-width: 650px) {
    div.content {
        padding: 27px 36px;
    }
}

@media only screen and (max-width: 640px) {
    div.content {
        padding: 24px 32px;
    }
}
